.body__right {
  height: 88vh;
  padding: 20px 0;
  overflow: auto;
  overflow-y: hidden;
  min-width: 280px;
  max-width: 360px;
  position: fixed;
  background-color: var(--light-gray-color);
  right: 0;
}
.body__right:hover {
  overflow-y: visible;
}
.body__right > h3 {
  margin-bottom: 10px;
}
