.header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.05);
  z-index: 300;
  padding: 0 12px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  box-sizing: border-box;
}

.header__left {
  display: flex;
}
.header__left > img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.header__search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray-color);
  margin-left: 10px;
  padding: 10px;
  border-radius: 100rem;
}
.header__search > svg {
  color: var(--dark-gray-color);
}
.header__search > input {
  border: none;
  outline: none;
  background-color: var(--light-gray-color);
}

.header__right {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__info {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px;
  cursor: pointer;
  visibility: visible;
}
.header__info:hover {
  background-color: var(--light-gray-color);
  border-radius: 100rem;
}
.header__info > span {
  font-weight: 500;
  font-size: 14px;
}
.header__btn {
  background-color: var(--light-gray-color);
  display: grid;
  place-items: center;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.header__btn:hover {
  background-color: var(--gray-color);
}
.header__btn > p {
  position: absolute;
  transform: translateY(50px);
  background-color: rgba(0, 0, 0, 0.9);
  color: var(--gray-color);
  padding: 8px 10px;
  border-radius: 10px;
  font-size: 14px;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.3);
  display: none;
}
.header__btn:hover > p {
  display: block;
}
